body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #e4e4e4;
  margin: 0;
}

@mixin dropdownSection {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

@mixin dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@mixin hr {
  height: 1px;
  border: none;
  background-color: #c5c6c7;
  width: 100%;
}

@mixin textWhiteBackground {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e2125;
}

@mixin textDarkBackground {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #dee2e6;
}

@mixin dropdownStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  height: 175px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding-top: 10px;
}

@mixin items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.dropdown-section {
  @include dropdownSection();
  padding-left: 10px;
  .container {
    @include dropdownContainer();
    .top {
      .dropdown {
        @include dropdownStyles();
        .items {
          @include items();
          hr {
            @include hr();
          }
          .item.active {
            background-color: #0d6efd;
            pointer-events: none;
            cursor: pointer;
            .link {
              color: #fff;
            }
          }
          .item {
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 4px;
            .link {
              @include textWhiteBackground();
            }
            &:hover {
              background-color: #e9ecef;
            }
          }
        }
      }
    }
    .bottom {
      .dropdown {
        @include dropdownStyles();
        background-color: #343a40;
        .items {
          @include items;
          hr {
            @include hr();
            background-color: #565c61;
          }

          .item.active {
            background-color: #0d6efd;
            pointer-events: none;
            cursor: pointer;
            .link {
              color: #fff;
            }
          }
          .item {
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 4px;
            .link {
              @include textDarkBackground();
            }
            &:hover {
              background-color: #52575d;
            }
          }
        }
      }
    }
  }
}

.dropdown-section.search {
  .container {
    .top {
      .dropdown {
        padding-top: 0;
        padding-bottom: 15px;
        border-radius: 6px;
        width: 100%;
        .search-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f8f9fa;
          padding-top: 10px;
          padding-bottom: 10px;
          input {
            width: 90%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            border: 1px solid #ced4da;
          }
        }
        .items {
          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            .dot-green {
              border-radius: 100%;
              background-color: #198754;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }

            .dot-blue {
              border-radius: 100%;
              background-color: #0d6efd;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
            .dot-red {
              border-radius: 100%;
              background-color: #dc3545;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
            .dot-light-blue {
              border-radius: 100%;
              background-color: #0dcaf0;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
          }
        }
      }
    }

    .bottom {
      .dropdown {
        padding-top: 0;
        padding-bottom: 15px;
        width: 100%;
        border-radius: 6px;
        .search-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #212529;
          padding-top: 10px;
          padding-bottom: 10px;
          input {
            width: 90%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            background-color: #2c3034;
            border: 1px solid #424649;
          }
        }
        .items {
          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            .dot-green {
              border-radius: 100%;
              background-color: #198754;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }

            .dot-blue {
              border-radius: 100%;
              background-color: #0d6efd;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
            .dot-red {
              border-radius: 100%;
              background-color: #dc3545;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
            .dot-light-blue {
              border-radius: 100%;
              background-color: #0dcaf0;
              padding: 0.25rem;
              width: 0.5px;
              height: 0.5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .dropdown-section {
    .container {
      display: flex;
      flex-direction: row;
      gap: 30px;
      .top {
        .dropdown {
          width: 200px;
        }
      }

      .bottom {
        .dropdown {
          width: 200px;
        }
      }
    }
  }
}
